.text-center.p-4.text-info
  .d-inline-flex.flex-row.p-2.fs-4
    a.link-info(href="https://twitter.com/aximili_dev")
      i.bi.bi-twitter.p-2
    a.link-info(href="https://github.com/aximili-dev")
      i.bi.bi-github.p-2
  p.mt-2.fs-6.font-monospace
    | &copy; 2022 Aximili
  p.mt-2.fs-6.font-monospace
    | Powered by #[a.link-success(href="https://www.nearlyfreespeech.net/") NearlyFreeSpeech] 💙
