.text-center.p-4
  .d-inline-flex.flex-row.p-2.fs-4
    a.link-dark(href="https://twitter.com/aximili_dev")
      i.bi.bi-twitter.p-2
    a.link-dark(href="https://github.com/aximili-dev")
      i.bi.bi-github.p-2
  p.mt-2.fs-6.font-monospace.text-secondary &copy; 2022 Aximili
