footer
  .footer-item.footer-item--social
    a(href="https://twitter.com/aximili_dev")
      i.bi.bi-twitter
    a(href="https://github.com/aximili-dev")
      i.bi.bi-github
  .footer-item.footer-item--copyright
    | &copy; 2022 Aximili
  .footer-item.footer-item--techstack
    | Powered by #[a.link-success(href="https://www.nearlyfreespeech.net/") NearlyFreeSpeech] 💙
