footer
  .social-links
    a(href="https://twitter.com/aximili_dev")
      i.bi.bi-twitter
    a(href="https://github.com/aximili-dev")
      i.bi.bi-github
  p.copyright
    | &copy; 2022 Aximili
  p.tech-stack
    | Powered by #[a.link-success(href="https://www.nearlyfreespeech.net/") NearlyFreeSpeech] 💙
