header
  nav
    .nav-item
      a.nav-item__link.nav-item__link--home(href="/") Ax

    .nav-item
      a.nav-item__link(href="/", class = currentPage === "index" ? "nav-item__link--current" : "")
        | Home
    .nav-item
      a.nav-item__link(href="/projects", class = currentPage === "projects" ? "nav-item__link--current" : "")
        | Projects
    .nav-item
      a.nav-item__link(href="/blog", class = currentPage === "blog" ? "nav-item__link--current" : "")
        | Blog
    .nav-item
      a.nav-item__link(href="/about", class = currentPage === "about" ? "nav-item__link--current" : "")
        | About
    .nav-item
      a.nav-item__link(href="/contact", class = currentPage === "contact" ? "nav-item__link--current" : "")
        | Contact
