doctype html
html(lang="en")
  head
    include includes/head.pug
  body.min-vh-100
    header.bg-light
      include includes/header.pug

    main.container-sm.bg-body
      block content

    footer.bg-light
      include includes/footer.pug
