doctype html
html(lang="en")
  head
    include includes/head.pug
  body
    header.bg-primary
      include includes/header.pug

    main.container-sm.bg-body.min-vh-100.my-5
      block content

    footer.bg-primary
      include includes/footer.pug
