extend ../layout

block content
  main
    h2 Contact
      p.
        If you want to say hi or have a quick question, hit me up on twitter.
        #[br]
        For anything else, shoot me an email.

      ul.contact-list
        li.contact-list__item
          .contact-list__item__icon
            i.bi.bi-twitter
          .contact-list__item__text
            a(href="https://twitter.com/aximili_dev") @aximili_dev
        li.contact-list__item
          .contact-list__item__icon
            i.bi.bi-mailbox2
          .contact-list__item__text
            a(href="mailto://aximili.dev@protonmail.com") aximili.dev@protonmail.com
