extends ../layout.pug

block content
  .row.mt-4
    .col
      h2 Hi, I'm Aximili
      p I build things

    .col
      h2 Professional life
      p
        | Currently working on #[a(href="https://twitter.com/oygaapp") Oyga],
        | where I spend my time developing programs for Solana.

      h2 Academic life
      p
        | Currently struggling to finish a degree in Computer Engineering at
        | Autonomous University of Madrid.
